body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 7% 15%;
}

.h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Montserrat";
  font-size: 2.5rem;
}

.nav-item {
  padding: 0px 18px;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
}

/* Dowload buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title */

#title {
  background-color: #ff4c68;
  color: white;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-img {
  position: absolute;
  right: 30%;
  width: 60%;
  transform: rotate(25deg);
}

/* Features */

#features {
  background-color: #fff;
  padding: 7% 13%;
  z-index: 1;
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.check {
  width: 50%;
  color: #ef8172;
}

.eye {
  width: 50%;
  color: #ef8172;
}

.heart {
  width: 50%;
  color: #ef8172;
}

.feature-box {
  padding: 4%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials */

#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.images {
  margin: 20px;
  border-radius: 100%;
  width: 15%;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Press */

#press {
  background-color: #ef8172;
  padding-bottom: 50px;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.button:hover {
  color: orange;
}

/* Pricing */

#pricing {
  padding: 100px;
}

.Pricing-Column {
  padding: 3% 2%;
}

.pricing-text {
  font-size: 2.5rem;
  line-height: 1.5;
}

.pricing-title {
  font-size: 1.5rem;
}

/* cta */

#cta {
  background-color: #ff4c68;
  color: #fff;
}

.cta-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer */

.icons {
  margin: 20px 10px;
}

/* Media */

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }

}
